@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: rgb(243,245,247);
    font-family: Open Sans; 
}

.progress {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 15pt;
    height: 50pt;
    cursor: progress;
    background-color: rgba(243,245,247, 1); 
}

.btn-lg.round {
	border-radius: 25px;
}

.btn-green, .btn-green:hover, .btn-green:active, .btn-green:visited {
    background-color: #4EBD65;
    padding: 6px 25px;
    font-size: 18px;
    color: #ffffff;
}

.btn-red, .btn-red:hover, .btn-red:active, .btn-red:visited {
    background-color: #E06C60;
    padding: 6px 25px;
    font-size: 18px;
    color: #ffffff;
}

.btn-close, .btn-close:hover, .btn-close:active, .btn-close:visited {
    border: 1px solid #9ca4ab !important;
    margin-left: 12px !important;
    color: #9ca4ab !important;
    background-color: #FFFFFF;
    padding: 6px 25px;
    font-size: 18px;
}

.modal-dialog.extension {
    width: 513px;
}
.modal-title.bold {
    font-weight: bold;
    font-size: 16px;
}


.noteFrame {
    display: inline-block;
    width: 100%;
}
.mainGrid {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    column-gap: 30px;
    column-rule-width: 33%;
    column-fill: balance;
}

.modal-body.extension {
    font-size: 12pt;
    color: #9ca4ab;
    padding: 0px 30px 10px 30px;
}

.modal-padding {
    padding: 35px 30px 0px 0px;
}

.modal-inputfield, .modal-inputfield:hover, .modal-inputfield:active, .modal-inputfield:focus {
    width: 100%;
    border: 0px;
    color: #9ca4ab;
    border-bottom: 1px solid #9ca4ab;
    padding: 35px 0px 15px 0px;
    outline: none;
}

.modal-buttons {
    text-align: right;
    padding: 0px 30px 30px 30px !important;
    border-top: 0px !important;
}

.confirm-footer {
    padding: 36px 20px 20px 20px;
    border-top: 0px;
    display: flex;
    justify-content: center;
}
.confirm-body {
    text-align: center;
    padding:20px;
    font-size: 14pt;
}

.confirm-body div { 
    padding: 20px;
}

.confirm-body div span { 
    font-size: 34pt;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    font-size: 22px;
    color: rgb(173,190,197);
    font-family: Open Sans; 
    min-width: 230px;
    max-width: 230px;
    margin-left:40px;
    background:#ffffff;
}

.nav-item a.active, .nav-subitem a.active {
    color: rgb(52,71,80);
    background: #fff;
}


.sidebar-separator{
    padding: 0px 20px;
}

.nav-item>a {
    color: rgb(173,190,197);
    padding: 15px 25px !important;
    background: #fff;
    display: block;
}

.nav-subitem>a{
    color: rgb(173,190,197);
    padding: 15px 45px !important;
    background: #fff;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(52,71,80);
    background: #fff;
}

#sidebar ul li a:focus {
    color: rgb(52,71,80);
    background: #fff;
}

#sidebar-logo {
    background: #fff;
    padding: 40px 20px 150px 20px;
}

#sidebar-logo img {
    width: 190px;
    }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 30px 70px 30px 30px;
    min-height: 100vh;
}

#contentTitle {
    width: 100%;
    padding: 0px 20px;
    font-size: 2em;
    color: rgb(52,71,80);
    margin: 10px auto 35px auto;
    display: inline-block;
}

.circle {
  height: 25px;
  width: 25px;
  border: 1px solid #CFD8DC;
  border-radius: 50%;
  margin: 0px 6px;
  display: inline-block;
}

.circle:hover{
    cursor: pointer;
}

div.circle-white, .circle-white {
   background-color: #ffffff;
}

div.circle-red, .circle-red {
    background-color: #FFC5C0;
 }

 div.circle-blue, .circle-blue {
    background-color: #B7E9FF;
 }

 div.circle-gray, .circle-gray {
    background-color: #CFD8DC;
 }

/* ---------------------------------------------------
    Text Note STYLE
----------------------------------------------------- */

.mainLayout{
    flex-basis: 33.33%;
    flex-direction: column;
    flex-shrink: unset;
}

.note-wrapper {
    padding: 25px;
    margin: 5px;
    margin-bottom:35px;
    box-shadow: 2.12px 3.392px 1px rgba(0,0,0,0.08);
    background-color: #ffffff;  
    overflow-wrap: break-word;
}

.note-title {
    font-size: 20px;
    line-height: 28px;
    color: rgb(99,113,120);
    font-weight: bold;
    overflow-wrap: break-word;
}

.note-text {
    font-size: 12px;
    line-height: 17px;
    color: rgb(99,113,120);
    overflow-wrap: break-word;
}

div.note-footer {
    margin-top: 20px;
    visibility: hidden;
    font-size: 14px;
}

.text-icon-footer{
    font-size: 14pt;
    margin-right: 12pt;
    color: rgb(173,190,197);
}

.text-icon-footer:hover{
    cursor: pointer;
}

.sendback {
    color: rgb(173,190,197);
    padding:0px 5px;
}

.remove {
    color: #E06C60;
    padding:0px 5px;
}

.sendback:hover, .remove:hover {
    cursor: pointer;
}

.image-note-wrapper {
    position: relative;
    min-height: 150px;
    margin: 5px;
    margin-bottom:35px;
    box-shadow: 2.12px 3.392px 1px rgba(0,0,0,0.04);
    background-color: #ffffff;
}

.image-note-wrapper img {
    width: 100%;
}

.image-note-footer {
    background-color: rgba(0,0,0,0.65);
    font-size: 14px;
    color: #adbdc5;
    position: absolute;
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    bottom: 0px;
}


.link-note-wrapper {
    position: relative;
    min-height: 150px;
    padding:30px;
    margin: 5px;
    margin-bottom:35px;
    box-shadow: 2.12px 3.392px 1px rgba(0,0,0,0.04);
    background-color: #ffffff;
    overflow-wrap: break-word;
}

.link-note-footer {
    background-color: rgba(0,0,0,0.65);
    font-size: 14px;
    color: #adbdc5;
    position: absolute;
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    bottom: 0px;
    margin-left: -30px;
}

#externLink, #externLink:hover{
    color: #9ca4ab;
    cursor: pointer;
    text-decoration: none;
}
/*

*/
#emptyTrash {
    text-align: center;
    margin-top: 115px;
}

#emptyTrashImg img{
    margin-top: 75px;
    width: 350px;
}

#emptyTrashText {
    margin-top: 35px;
    font-family: 'Open Sans';
    font-size: 24pt;
}

#emptyTrashSubText {
    margin-top: 15px;
    font-family: 'Open Sans';
    font-size: 14pt;
}

#emptyTrashButton {
    margin-top: 40px;
}